<h1><%= @album.name %> by <%= @band.name %></h1>

<%= button_to "Add track", new_album_track_url(@album), method: :get %>
<table>
  <tr>
    <th>Track #</th>
    <th>Title</th>
    <th>Track type</th>
  </tr>
  <% @tracks.each do |track| %>
    <tr>
      <td><%= track.track_number %></td>
      <td><%= link_to "#{track.title}", track_url(track) %></td>
      <td><%= track.track_type %></td>
    </tr>
  <% end %>
</table>

<%= button_to "Edit album", edit_album_url(@album), method: :get %>
<%= button_to "Delete album", album_url(@album), method: :delete %>
<%= button_to "Back to #{@band.name}", band_url(@band), method: :get %>
